html
{
  height: 100%;
}

body
{
  height: 100%;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  background: black;
  font-size: 13px;
  line-height: 15px;
}
table,tr,td
{
  border-collapse: collapse;
  vertical-align: top;
}
a
{
  color: #8D0D19;
}
#header
{
  height: 70px;
  background: #80FF00;
  color: black;
}
#header h1
{
  padding: 1em;
}
#main
{
  height: 600px;
  background: black;
  color: #80FF00;
  text-align: left;
}
#footer
{
  height: 2em;
  padding: 1em;
  text-align: center;
  background: #80FF00;
  color: black;
  font-size: 13px;
  line-height: 15px;
}
#structure
{
  height: 600px;
  width: 100%;
  color: #80FF00;
}
#structure a
{
  color: #80FF00;
}
#navigation
{
  width: 190px;
  padding: 1em 2em;
  color: #80FF00;
  background: #080808;
  height: 100%;
}
#navigation a
{
  color: #80FF00;
}
ul.subjects
{
  list-style: none;
}
ul.pages
{
  list-style: square;
}
.selected
{
  font-weight: bold;
}
#page
{
    padding-left: 2em;
    background: black;
}
#page h2
{
  color: #80FF00;
  margin-top: 1em;
}
#page h3
{
  color: #80FF00;
}
img
{
border-radius: 10px;
}
#imgl
{
    padding-right: 2em;
    padding-top: 3em;
}
