body {
       /* background-image: url('indiamap.jpg');*/
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: right; 
        color: #000000;
        font-size: 87.5%;
        font-family: Arial,'Lucida Sans Unicode';
        line-height: 1.5;
	text-align: left;
	background-color: #000000;
	
}
a {
	text-decoration: none;
}


.body	{
	margin: 0 auto;
	width: 70%;
	clear: both;
	
}
.mainheader img{
	width 920px;
	margin: 2% 2% 0% 0%;
	height: 255px;
}
.mainheader nav{
	background-color: #80ff00;
	height: 40px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

}

.mainheader nav ul {
	list-style: none;
	margin 0 auto;

}

.mainheader nav ul li {
	float: left;
	display: inline;
	
}
.mainheader nav a:link, .mainheader nav a:visited {
	color: #000000;
	display: inline-block;
	padding: 9px 44px;
}
.mainheader nav a:hover, .mainheader nav a:active, .mainheader nav .active a:link, .mainheader nav .active a:visited {
	background-color: #CF5C3F;
	color: #FFF
}
.maincontent {
	line-height:25px;
	border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
	

}
.content	{
	width: 100%;
	float: left;
	
}

.topcontent	{
	background-color: #FFD700;
	border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
	padding: 2% 3%;
	margin-top: 8px;
	margin-left: 10px;
}
.bottomcontent     {
        background-color: #FFD700;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        padding: 2% 3%;
        margin-top: 16px;
	margin-left: 10px;
}


.mainfooter	{
	margin-right: 32%
}

.heading {
	color: #FFFAF0;
	float: right;
	margin-top: 5%;
	margin-right: 5%;
	font-size: 300%
}
